---
layout: default
---

<div class='container videos'>

  {% assign grouped_posts = site.posts | group_by: 'year' %}

  {% for year_to_posts in grouped_posts %}
    <div class='row'>
      <div class='col-xs-12'>
        <h5><a id="{{ year_to_posts.name | slugify }}" href="#{{ year_to_posts.name | slugify }}">{{ year_to_posts.name }}</a></h5>
      </div>

      {% for post in year_to_posts.items %}
        <div class='col-lg-3 col-md-4 col-sm-6'>
          <div class='video'>
            <a href='{{ post.url }}'>
             <img src='/assets/images/{{ post.year }}/{{ post.speaker | slugify }}-video.jpg' class='img-responsive' />

              <div class='hidden-xs'>
                <div class='post-title'>
                  {{ post.title }} - {{post.speaker}}
                </div>
              </div>

              <div class='visible-xs'>
                <div class='post-title'>
                  {{ post.title }}
                </div>
                <p />
                <div class='post-speaker-name'>
                  {{post.speaker}}
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
