@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/Museo-Sans_700.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/Museo-Sans_500.otf');
  font-weight: 500;
}
