.videos {
  h5 {
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .video {
    font-weight: 700;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;

    @include sm-screen {
      min-height: 280px;
    }

    @include md-screen {
      min-height: 250px;
    }

    @include lg-screen {
      min-height: 250px;
    }

    a {
      color: $brown;
      text-decoration: none;
    }

    img {
      width: 100%;
    }

    .post-title {
      margin-top: 10px;
    }
  }
}
