.videos {
  .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  h5 {
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .video {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    font-weight: 700;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;

    a {
      color: $brown;
      text-decoration: none;
    }

    img {
      width: 100%;
    }

    .post-title {
      margin-top: 10px;
    }
  }
}
